This is the game

<p>
  Turns left: <%= @tally.turns_left %>
</p>
<p>
  Letters used: <%= @tally.used |> Enum.join(", ") %>
</p>
<p>
  Word so far: <%= @tally.letters |> Enum.join(" ") %>
</p>

<.form for={@form} action="/hangman" method="put" as={:make_move}>
  <.input field={@form[:guess]} type="text" />
  <.button>Make next guess</.button>
</.form>
